<%- include('../layouts/userHeader') %>

<h1>All products</h1>

<div class="row">
    <% products.forEach((p)=>{ %>

        <div class="col-xs-12 col-md-4">

            <a href="/api/user/Allproducts/<%= p.category %>/<%= p.slug %>" class="pa">

                <img src="<%=p.img_url%>" alt="images" class="pimg">
            
            </a>
            <h3><%=p.title%></h3>
            <h6>$<%=p.price%></h6>
            <a href="/api/user/Allproducts/<%=p.category%>/<%=p.slug%>" class="vd">View Details</a>
        </div>
        <%})%>
</div>




<%- include('../layouts/userFooter') %>